body{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}

.item{
    background: rgb(105, 105, 253);
    border-radius: 10px;
    width: 750px;
    margin: 20px auto;
    padding: 15px 25px 25px 25px;
    color:#fff;
}

p{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    display: inline-block;
    background: rgb(245, 90, 33);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

span{
    color: yellow;
    font-weight: bold;
}